.card
  background-color: $dark-blue
  margin-bottom: 20px
  min-height: 300px
  text-align: left
  color: $white
  border: none
  border-radius: 0px
  box-shadow: 0px 4px 10px #888888
  padding: 10px 20px
  margin-left: auto
  margin-right: auto
  // min-height: 400px
  // max-height: 400px
  overflow-y: scroll
  .card-block
    p
      font-weight: 300
    pre
      background-color: $white

  .btn
    font-weight: 700
  .card-footer
    background-color: $dark-blue
    border-radius: 0px
  .card-header
    background-color: $dark-blue
    padding-bottom: 0px
    margin-bottom: 0px
    h3
      color: $teal
      font-weight: 700
    .points
      font-size: 60px
      font-weight: 700
      margin-bottom: 10px
      line-height: 1
      span
        font-size: 20px
        font-weight: 300

.accountCard
  width: 100%
  max-width: none
  margin-top: 60px
  margin-bottom: 60px

.loginCard
  min-height: 100px
  height: 180px
  display: flex
  flex-direction: column
  justify-content: space-between
  padding: 40px

.leaderboardCard
  width: 100%
  max-width: none
  padding: 0px
  .list-group
    .list-group-item
      background-color: rgba(0, 0, 0, 0)
      border-color: lighten($dark-blue, 5%)
      border-left: none
      border-right: none
      display: flex
      align-items: center
      p
        margin-bottom: 0px
      .avatar
        border-radius: 50%
        width: 50px
        margin: 0px 10px
      .rank
        font-size: 30px
        margin-right: 20px
      .credits
        margin-left: auto
        font-weight: bold
        color: $teal
        font-size: 30px
