.jumbotron
  text-align: center
  background: rgba(0, 0, 0, 0)
  // background: linear-gradient(to right bottom, $white 50%, $teal 50%)
  border-radius:
  border-radius: 0px
  h2
    font-weight: 300
    color: $white
    font-size: 40px
    margin-bottom: 20px

.challengeJumbo, .leaderboardJumbo
  background: $dark-blue
  padding: 20px
