.navbar
  background-color: $black
  color: $white
  a
    color: $white
  .brand
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    @media screen and (max-width: $break-small)
      justify-content: center
      margin-bottom: 20px
      .brandName
        display: none
  .navbar-nav
    flex-direction: row
    justify-content: flex-end
    align-items: center
    .nav-item
      margin-right: 20px
    .accountLink
      div
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        .credibility
          margin: 0px 0px 0px 10px
          color: $white
  .crown
    width: 40px
    margin-right: 10px

  .profilePic
    border-radius: 50%
    float: right
    width: 50px



.subNav
  padding: 10px
  .categorySwitches
    margin-left: 10px
    margin-right: 10px
