.NotFound
  text-align: center
  margin-top: 8%
  margin-left: 25%
  width: 50%
  left: 50%
  right: 50%
    
  .Line
    -webkit-transform: rotate(10deg)
    background-color: $black
    color: $white
    text-align: center
    padding: 1%

  .Line2
    -webkit-transform: rotate(10deg)
    background-color: $black
    color: $white
    text-align: center
    padding: 1%
    @media (max-height: 605px)  
        margin-bottom: 10%

  .Space
    padding: 2px